* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  min-height: calc(100vh - 308px - 68px);

  @media screen and (min-width: 768px) {
    min-height: calc(100vh - 236px - 50px);
  }
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3a4b3f;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  color: white;
  font-family: var(--font-family-text);
  padding: 16px;
  margin: 0;
}

.category-section-forum {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: #3a4b3f;
  color: white;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.category-section-forum h2 {
  font-family: var(--font-family-title);
  font-size: 1.5rem;
  margin-bottom: 8px;
  color: white;
}

.category-section-forum p {
  font-family: var(--font-family-text);
  font-size: 1rem;
}

a {
  font-family: var(--font-family-link);
  text-decoration: none;
  color: white;
  cursor: pointer;
}

:root {
  /* Couleurs de texte */
  --color-text: #050315;
  --color-text-secondary: #2a2a72;

  /* Couleurs d'état */
  --color-success: rgb(30, 145, 30);
  --color-link: #3b3b98;
  --color-hover-link: #4e4ebf;
  --color-error: #d93025;

  /* Couleurs de fond */
  --background-color-primary: #68766c;
  --background-color-secondary: #93b09c;
  --background-color-main: #e3eee6;
  --background-color-hover: #d5e7db;
  --background-color-hoverbutton: #5a5a5a;
  --background-color-button: #111;

  /* Couleurs primaires et secondaires */
  --primary-color: #0d2013;
  --secondary-color: #2c5a3a;
  --color-hover-primary: #4f7159;
  --color-hover-secondary: rgb(63, 63, 63);

  /* Polices */
  --font-family-link: "Raleway", sans-serif;
  --font-family-title: "Poppins", sans-serif;
  --font-family-text: "Inter", sans-serif;
}
