.forum-main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-auto-rows: 1fr 1fr;
  gap: 12px;
  padding: 16px;
}

.forum-main h3 {
  font-family: var(--font-family-title);
  font-size: 1.3rem;
  color: var(--primary-color);
  border-bottom: 2px solid var(--secondary-color);
  padding-bottom: 8px;
}

/* Table qui peut être déplacé plus tard dans le composant concerné */
.forum-main table {
  width: 100%;
  border-collapse: collapse;
  font-family: var(--font-family-text);
  font-size: 0.95rem;
}

.forum-main thead {
  background-color: var(--background-color-hoverbutton);
  color: white;
}

.forum-main th,
.forum-main td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.forum-main tbody tr:hover {
  background-color: var(--background-color-hover);
}

@media (min-width: 320px) and (max-width: 968px) {
  .forum-main {
    display: flex;
    flex-direction: column;
  }
}
