.presentations-layout {
  background-color: var(--background-color-main);
  padding: 1rem;
}

/* Conteneur 2 colonnes */
.forum-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1.5rem;
  margin-top: 1rem;
}

/* La colonne de gauche (posts) */
.posts-forum {
  grid-column: 1;
  background: var(--background-color-hover);
  border-radius: 8px;
  padding: 1rem;
  border: 1px solid rgb(255, 255, 255);
}

/* La colonne de droite (online + latests posts) */
.visual-forum {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  border-radius: 8px;
  height: fit-content;
  position: relative;

  img {
    width: 550px;
    border-radius: 9px;
  }
}

/* Responsive : en colonne sur mobile */
@media (min-width: 320px) and (max-width: 960px) {
  .forum-content {
    grid-template-columns: 1fr;
  }

  .visual-forum {
    display: none;
  }
}
