# .env.sample - Sample Environment Variables

# Application Configuration
APP_PORT=3310
APP_SECRET=YOUR_APP_SECRET_KEY

# Database Configuration
NODE_ENV=production
PORT=3000
DB_HOST=your-host-here
DB_PORT=your-port-here
DB_USER=your-user-here
DB_PASSWORD=your-password-here
DB_NAME=your-database-name
DB_SSL=true
JWT_SECRET=your-secret-here

# Client URL (for CORS configuration)
CLIENT_URL=http://localhost:3000

# Pour tout besoin spécifique, veuillez vous renseigner auprès de votre formateur concernant le nom du projet de déploiement et suivre le modèle.
# Vous pouvez ajouter autant de variables que nécessaire. N'oubliez pas d'en informer votre formateur. Dans le cas contraire, le déploiement pourrait échouer.
PROJECT_NAME_SPECIFIC_NAME=YOUR_SPECIFIC_VALUE
