.banner-footer {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  background-color: var(--background-color-primary);
  color: white;
  padding-top: 32px;
  padding-left: 24px;
  text-align: start;
  font-family: var(--font-family-text);
}

.footer-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-logo .logo-wolf {
  max-width: 120px;
  height: auto;
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 70px;
  max-width: 100%;
  padding: 20px 20px 16px;
  box-sizing: border-box;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin: 0 20px;
  align-self: end;
}

.footer-column .footer-title h3 {
  margin: 0;
  font-family: var(--font-family-title);
  color: white;
  padding-bottom: 26px;
}

.footer-column a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 4px 0;
  transition: color 0.3s ease;
}

.footer-column a:hover {
  color: var(--accent-color, #80c0ff);
}

.social-block {
  margin: 20px 20px;
  display: flex;
  justify-self: end;
}

.social-block img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.social-block img:hover {
  transform: scale(1.1);
}

.copy-bottom {
  grid-column-start: span 2;
  text-align: center;
  font-size: 0.9rem;
  opacity: 0.8;
}

@media (max-width: 968px) {
  .banner-footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 16px;
    gap: 16px;
    grid-column: 2;
  }

  .footer-logo {
    justify-content: center;
    justify-self: flex-end;
    padding-right: 16px;
    grid-column: 2 / span 2;
  }

  .footer-links {
    flex-direction: column;
    display: inline;
    gap: 32px;
    padding: 0;
    grid-row: 1 / span 2;
  }

  .footer-column {
    align-items: start;
    margin: 0;
  }

  .social-block {
    justify-self: end;
    margin: 0;
  }

  .copy-bottom {
    grid-column-start: auto;
    grid-row: 3;
  }

  .copy-bottom {
    grid-column: span 2;
  }
}
