.banner-footer {
  background-color: var(--background-color-primary);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
}

.banner-footer .author-btn {
  display: flex;
  justify-content: center;
  width: 100px;
  margin-left: 1rem;
  padding: 0.5rem;
  background-color: var(--background-color-button);
  border-radius: 6px;
}

.banner-footer .author-btn:hover {
  background-color: var(--background-color-hover);
  cursor: pointer;
}

.banner-footer .author-btn .link-about {
  color: white;
  text-decoration: none;
}

.banner-footer .author-btn:hover .link-about {
  color: var(--background-color-button);
  text-decoration: none;
}

.banner-footer p {
  font-family: var(--font-family-text);
  color: white;
  justify-self: center;
}

.banner-footer .grid-figure {
  display: flex;
  justify-content: end;
  gap: 0.2rem;
  margin: 0;
  padding-right: 1rem;
}

.banner-footer .grid-figure img {
  height: 35px;
}
