.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  align-items: center;
  padding: 24px;
}

.contact-container {
  align-items: center;
  grid-column: 1;
  max-width: 100%;
  width: 100%;
  padding: 24px;
  font-family: var(--font-family-title);
  color: #333;
  background-color: var(--background-color-secondary);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.contact-form {
  color: var(--color-text);
}

.contact-form label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-family: var(--font-family-text);
  font-size: 1rem;
  margin: 12px;
}

.contact-form label button {
  align-self: flex-end;
  margin-top: 16px;
  width: 200px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  font-family: var(--font-family-text);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--secondary-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.contact-form button {
  background-color: var(--background-color-button);
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-family: var(--font-family-link);
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: var(--background-color-hoverbutton);
}

.success-message {
  color: var(--color-success);
  font-weight: bold;
  text-align: center;
  padding: 40px 0;
  font-family: var(--font-family-title);
  font-size: 1.2rem;
}

.illustration-contact {
  display: flex;
  justify-content: center;
  grid-column: 2;
}

.illustration-contact img {
  max-width: 100%;
  max-height: 600px;
  object-fit: contain;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/** Responsive **/

@media (max-width: 968px) {
  .form-grid {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }

  .illustration-contact {
    width: 100%;
  }
}
