.page404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-bg-bloc-color);
  padding: 1rem;
}

.page404 figure img {
  justify-content: center;
  width: 250px;
  margin: 16px 32px;
}

#sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.page404 article h1 {
  font-style: var(--font-family-title);
  font-size: 35px;
  text-align: center;
  gap: 5%;
}

.page404 article:first-of-type p {
  font-style: var(--font-family-text);
  text-align: center;
}

#chrono {
  background-color: rgb(232, 244, 194);
  -webkit-border-radius: 100px / 160px;
  -moz-border-radius: 100px / 160px;
  border-radius: 100px / 160px;
  text-align: center;
  padding: 0.5rem;
}

@media screen and (min-width: 768px) {
  .page404 {
    display: flex;
    background-color: white;
    margin: 0;
  }

  .page404 figure {
    background-color: var(--light-bg-bloc-color);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 0;
  }

  .page404 figure img {
    width: 350px;
    margin: 0;
  }

  #chrono {
    text-align: center;
    gap: 25px;
    margin: 16px 96px 16px 96px;
  }
}
