.onligne-forum {
  grid-column: 3 / 4;
  grid-row: 1;
  color: var(--color-text);
  font-family: var(--font-family-text);
  padding: 12px;
  border-radius: 6px;
  max-height: 508px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.718),
      rgba(255, 255, 255, 0.612)
    ), url(/images/bc_online.webp);
}

.onligne-forum p,
.onligne-forum h3,
.onligne-forum td,
.onligne-forum th {
  text-shadow: 2px 1px 6px rgb(455, 755, 255);
  transition: background-color 0.3s, backdrop-filter 0.3s;
}

.onligne-forum thead tr:hover {
  background-color: inherit;
  transform: none;
  box-shadow: none;
}

/* Styles pour le dark mode */
[data-theme="dark"] .onligne-forum {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url(/images/bc_online.webp);
}

[data-theme="dark"] .onligne-forum p,
[data-theme="dark"] .onligne-forum h3,
[data-theme="dark"] .onligne-forum td,
[data-theme="dark"] .onligne-forum th {
  text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.8);
}
