.regulation-page {
  grid-column: 3 / 4;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.regulation-page h2 {
  margin: 0;
  padding: 1rem;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.7)
    ), url(/images/bc_regulation.webp);
  background-size: cover;
  background-position: center;
  color: var(--color-text);
  text-shadow: 2px 1px 6px rgb(455, 755, 255);
  border-radius: 6px;
  text-align: center;
  font-family: var(--font-family-title);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.regulation-forum {
  color: var(--color-text);
  font-family: var(--font-family-text);
  padding: 12px;
  border-radius: 6px;
  height: 100%;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.718),
      rgba(255, 255, 255, 0.612)
    ), url(/images/bc_regulation.webp);
}

.regulation-forum p,
.regulation-forum h3,
.regulation-forum td,
.regulation-forum th {
  text-shadow: 2px 1px 6px rgb(455, 755, 255);
  transition: background-color 0.3s, backdrop-filter 0.3s;
}

/* Styles pour le dark mode */
[data-theme="dark"] .regulation-page h2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url(/images/bc_regulation.webp);
  background-size: cover;
  background-position: center;
}

[data-theme="dark"] .regulation-forum {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url(/images/bc_regulation.webp);
}

[data-theme="dark"] .regulation-forum p,
[data-theme="dark"] .regulation-forum h3,
[data-theme="dark"] .regulation-forum td,
[data-theme="dark"] .regulation-forum th {
  text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.8);
}

/* Mobile - RegulationForum en dernière position */
@media (max-width: 767px) {
  .regulation-page {
    order: 4;
  }
}

/* Tablette - RegulationForum en bas à droite */
@media (min-width: 768px) and (max-width: 968px) {
  .regulation-page {
    grid-column: 2;
    grid-row: 2;
  }
}
