.latest-posts-forum {
  grid-column: 1 / 2;
  grid-row: 2;
  background-color: var(--background-color-secondary);
  color: var(--color-text);
  font-family: var(--font-family-text);
  padding: 12px;
  border-radius: 6px;
  max-height: 508px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.718),
      rgba(255, 255, 255, 0.612)
    ), url(/images/bc_lastests_posts.webp);
}

.latest-posts-forum p,
.latest-posts-forum h3,
.latest-posts-forum td,
.latest-posts-forum th {
  text-shadow: 2px 1px 6px rgb(455, 755, 255);
  transition: background-color 0.3s, backdrop-filter 0.3s;
}

.latest-posts-forum td {
  max-width: 8px;
  content: fit-content;
  overflow-inline: clip;
}

.latest-posts-forum th:nth-child(1) {
  display: none;
}

.latest-posts-forum th:nth-child(2) {
  display: none;
}

.latest-posts-forum td:nth-child(2) {
  display: none;
}

.latest-posts-forum tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 0.3s;
}

.latest-posts-forum td:nth-child(3) {
  font-style: italic;
}

.latest-posts-forum td:last-child {
  font-size: 0.9rem;
  color: #555;
}
